/*
===================
  Variables Colors
===================
*/
/* lighter shades of primary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.person-img) {
  width: 100%;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.navigation, .navigation__center, .list__link, .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
=====================
  Style Curve Effect
=====================
*/
.navigation {
  min-height: 100vh;
}

.navigation__center {
  position: relative;
  width: 400px;
  height: 70px;
  background: #fff;
  border-radius: 0.7rem;
}

.list {
  position: relative;
  width: 90px;
  height: 70px;
  z-index: 1;
}

.list__link {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: #222327;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.list.active a .icon {
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
  color: #bb2525;
}

.text {
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: #222327;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.list.active a .text {
  opacity: 1;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  color: #bb2525;
}

.effects {
  position: absolute;
  top: -50%;
  left: 30px;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  border: 7px solid #f1f5f8;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.list:nth-child(1).active ~ .effects {
  -webkit-transform: translateX(calc(90px * 0));
          transform: translateX(calc(90px * 0));
}

.list:nth-child(2).active ~ .effects {
  -webkit-transform: translateX(calc(90px * 1));
          transform: translateX(calc(90px * 1));
}

.list:nth-child(3).active ~ .effects {
  -webkit-transform: translateX(calc(90px * 2));
          transform: translateX(calc(90px * 2));
}

.list:nth-child(4).active ~ .effects {
  -webkit-transform: translateX(calc(90px * 3));
          transform: translateX(calc(90px * 3));
}

@media (min-width: 0px) and (max-width: 375px) {
  .effects {
    left: 12px;
  }
}

.section {
  min-height: 100vh;
  background: #434750;
}

.menu {
  position: relative;
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
}

.menu__list {
  position: relative;
  width: 200px;
  padding: 1rem;
  background: #3e3f46;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  z-index: var(--i);
}

.menu__list::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #3e3f46;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu__list::after {
  content: '';
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: #3e3f46;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu__list:hover {
  background: #6ebef7;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.menu__list--left:hover {
  background: #bb2525;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.menu__list:hover::before,
.menu__list:hover::after {
  background: #6ebef7;
}

.menu__list:last-child::after {
  -webkit-box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
          box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}

.menu__link {
  display: block;
  color: #829ab0;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu__link:hover {
  color: #fff;
}

.menu__left {
  margin-left: 16rem;
}
/*# sourceMappingURL=style.css.map */